<ion-view view-title="" >



<ion-nav-bar class="bar-positive frontpageheader" align-title="center"> 

<!--
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    -->
    <ion-nav-buttons side="left">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<!-- <a class="button button-icon icon-right ion-ios-videocam"></a> -->

    <ion-nav-buttons side="right">
      <!--
      <button class="button button-icon icon ion-ios-videocam iconHeight" ng-click="baz()">
      </button>
      -->
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content scroll="false">
    <div class="frontpageheader2" >
      <img src="img/home4.jpg">
<!--
     <div class="row">
       <div class="col col-33" ng-click="go('/app/newslists')"><img src="img/homepage_booking.png"></div>
       <div class="col col-33" ng-click="go('/app/report')"><img src="img/homepage_news.png"></div>
       <div class="col col-33" ng-click="go('/app/login')"><img src="img/homepage_login.png"></div>
    </div>

    <div class="row">
       <div class="col col-33" ng-click="go('/app/newslists')">最新消息</div>
       <div class="col col-33" ng-click="go('/app/report')">我要報料</div>
       <div class="col col-33" ng-click="go('/app/login')">會員登入</div>
    </div>

    <div class="space">
    </div>

    <div class="row">
       <div class="col col-33" ng-click="go('/app/bookingintro')"><img src="img/homepage_register.png"></div>
       <div class="col col-33" ng-click="go('/app/history')"><img src="img/homepage_history.png"></div>
       <div class="col col-33" ng-click="go('/app/setting')"><img src="img/setting_icon.png"></div>
    </div>

    <div class="row">
       <div class="col col-33" ng-click="go('/app/bookingintro')">預約翻譯</div>
       <div class="col col-33" ng-click="go('/app/history')">預約記錄</div>
       <div class="col col-33" ng-click="go('/app/setting')">設定</div>
    </div>
-->
    

    </div>
  </ion-content>
</ion-view>
