<ion-view view-title="使用說明">
  <ion-content>
   
 <ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page class="bgwelcome2">
      
      <img src="img/slide1.png"/>
    </ion-slide-page>
    <ion-slide-page class="bgwelcome2">
      <!-- <div class="box yellow"><h1>YELLOW</h1></div> -->
      <img src="img/slide1.png"/>
    </ion-slide-page>
    <ion-slide-page class="bgwelcome2">
      <img src="img/slide1.png"/>
    </ion-slide-page>
  </ion-slides>
</ion-content>



  </ion-content>
</ion-view>
