<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class = "my-menu-header">
    <!-- <ion-header-bar class="bar-stable"> -->
    <ion-header-bar class="bar-stable">

      <h1 class="title">龍耳手譯寶翻譯員後台</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="my-ion-menu-list">
        <!--
        <ion-item menu-close href="#/app/loginchat">
          Video Chatting
        </ion-item>
        -->
        <!--
        <ion-item menu-close href="#/app/homepage">
          首頁
        </ion-item>
        -->
        <ion-item menu-close href="#/app/newslists">
          最新消息
        </ion-item>
        <!--
        <ion-item menu-close href="#/app/report">
          我要報料
        </ion-item>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/bookingintro">
          預約翻譯
        </ion-item>
        <ion-item menu-close href="#/app/history">
          預約記錄
        </ion-item>
        
         <ion-item menu-close href="#/app/videochat">
          視像翻譯
        </ion-item>
        -->
         <ion-item menu-close href="#/app/videochattemp">
          登入視像翻譯
        </ion-item> 
        <!--
        <ion-item menu-close href="#/app/survey">
          Survey
        </ion-item> 
        <ion-item menu-close href="#/app/urgent">
          緊急翻譯
        </ion-item>
         <ion-item menu-close href="#/app/about">
          關於龍耳手譯寶
        </ion-item>
        <ion-item menu-close href="#/app/contactus">
          聯絡龍耳手譯寶
        </ion-item>
        <ion-item menu-close href="#/app/setting">
          用戶設定
        </ion-item>
        <ion-item menu-close href="#/app/manual">
          使用說明
        </ion-item>
        -->
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
