<ion-view view-title="視像翻譯">
  <ion-content class="padding">
    更新中
  </ion-content>
</ion-view>


<!--
<ion-view cache-view="false" view-title="Browse">
  <ion-content>
    <h1>Browse</h1>

     Test filter
    <input type="text" ng-model="search">
    <div ng-repeat="item in data | filter: {'spots': search}">
        <p>{{item}}</p>
    </div>
  
   Your connection is {{networkstatus}}
   {{reminder}}


    <div class="button-bar">
      <<button class="button button-block button-assertive" ng-click="back()">Back to Products</button> 
      <button class="button button-block button-positive" ng-click="checkconnection()">Check connection</button>
    </div>


  </ion-content>
</ion-view>
-->
