<ion-view view-title="忘記密碼" hide-nav-bar="false">
  <ion-content>
    <div class="padding">
      <!-- <div class="text-center">
        <img class="logo" src="img/logo.png" />
       <h2><b>Forgot Password?</b></h2>
        <h4 class="line-height160 margin-top10 margin-left20 margin-right20 margin-bottom20">Don't worry! Just enter your email address and you are good to go!</h4>
      </div> -->
      <p>如用戶忘記密碼，可填上註冊電郵，我們會送發重設密碼連結到您的郵箱。</p>
      <p>(不適用於採用 Facebook 或 Google 登入)</p>
      <form novalidate name="forgotPasswordForm">
        <ion-list>
          <ion-item class="iitem item-input order-slimline">
            <span class="input-label">電郵:</span>
            <input name="email" type="email" ng-model="user.email" placeholder="請輸入您的註冊電郵" ng-minlength="5" ng-maxlength="30" required>
          </ion-item>
          <div class="button-bar">
            <button class="button button-block button-assertive" ng-click="back()">返回登入頁面</button>
            <button class="button button-block button-positive" ng-disabled="forgotPasswordForm.$invalid" reset-password>申請重設密碼</button>
          </div>
        </ion-list>
      </form>
    </div>
  </ion-content>
</ion-view>
